<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志文件目录、压缩文件目录、日志格式配置 -->
    <properties>
        <property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p -&#45;&#45; [%15.15t]
            [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] %-40.40c{1.} : %m%n%ex
        </property>
        <property name="LOG_FILE_PATH">/Users/lichenjie/Documents/project/stock/financial-statement/logs</property>
        <property name="LOG_FILE_NAME">statement</property>
    </properties>

    <Appenders>
        <!-- 输出控制台日志的配置 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
        <RollingFile name="FileAppender" fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}.log"
                                 filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

            <DefaultRolloverStrategy max="20">
                <Delete basePath="${LOG_FILE_PATH}" maxDepth="1">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</configuration>